.body{
	margin: 0px;
}

.logo                                              
{
	max-width: 12em;
}
/*
.row{
	margin-bottom:0.5em;
}
*/

.ph{                                               
	text-align: center;
	font-size: xx-large;
}

.house{                                             
    max-width: 2.4em;
    border: 2px solid midnightblue;
    border-radius: 34%;
    padding: 3px;
    border-style: groove;
}
.brd{
   border: 2px solid black;
   border-radius: 0%;
}

.home                                              
{
    text-decoration: none;
    font-size: 1em;
    color: white;
    margin-left: 0.3vw;
    border: 2px solid #26a6cb;
    padding: 3px;
    background-color: #26a6cb;
    border-radius: 10%;
    border-style: outset;
}



@keyframes pulse{
   0%{transform: scale(1);}
   50%{transform: scale(1.1);}
   100%{transform: scale(1);}
}

.home:hover, .btngrp:hover{
	color: black; 
	text-decoration: none;
	animation-name: pulse ;
}

.btngrp{                                                     
    margin-top: 0.5em;
    padding: 9px;
    background-color: #60e660;
    color: white;
    font-size: 1em;
    font-family: sans-serif;
    border-color: #60e660;
    cursor: pointer;
}

.btnpost{                                                    
    margin-top: 0.3em;
    margin-left: 1.4vw;
}

.hd{                                                    
    text-align: center;
    color: brown;
    font-family: cursive;
}



.col:hover{
  border-bottom: 2px solid brown;
}

.rightc{
   
}

.middle{
   background-color: dimgrey;
   border: 1px solid;
   height: fit-content;
}

.col{
    padding: 0px 4px;
    margin: 1px 4px;
    text-align: center;
}

.contrl{
    border: 1px solid blanchedalmond;
    background-color: darkseagreen;
    padding: 10px;
}

.invic{
   border: 1px solid brown;
   height: 440px;
   margin: 3px;
}

.bkg{
      background-color: darkkhaki;
      border-style: ridge;
} 

.ph1{
  cursor: pointer;
  width:100%;
  height: 441px;
  object-fit:cover;
}

.col-lg-6{
  padding: 3px;
}

.fig{
  position: relative;
  background-color: white;
  position: relative;
}
/*
.heart-shape{
  width: 31px;
  margin: 8px;
  cursor: pointer;
}
*/
.heart { 
    width: 4.4vw;
    height: 50px; 
    cursor: pointer;
} 

.heart:before, .heart:after { 
    position: absolute; 
    content: ""; 
    left: 21px;
    top: 9px;
    width: 21px;
    height: 30px;
    background-color: darkgray;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%; 
} 

.heart:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%; 
}

@keyframes beat{
  to { transform: scale(0.3); }
}

@-webkit-keyframes beatOut {
to { transform: scale(0.3); }
}

.changed:after, .changed:before{
  background-color: crimson;
  animation-name: beat;
  animation-duration: .25s; 
}

.beatout:after, .beatout:before{
  animation-name: beatOut;
  animation-duration: .25s; 
}

#fileLoader{
  display: none;
}

#btnOpenFileDialog{
  outline: none;
  max-width: 23%;
  margin-left: 3vw;
  margin-top: 1em;
}
#fileLoaders{
  display: none;
}

#btnOpenFileDialogs{
  outline: none;
  max-width: 5%;
  margin-left: 50%;
  margin-top: 1em;
}

.last-div{
  background-color:darkkhaki;
}

.three-dots{
  font-size: 2em;
  color: black;
  cursor: pointer;
  margin-left: auto;
  padding-left: 5px;
}
.dele{
 position: absolute;
 right: 30px;
 top: 8px;
 border: 1px solid black;
 margin: 9px 0px;
 padding: 3px 35px;
 font-family: cursive;
 cursor: pointer;
}

.comment{
    content: "";
    background-color: cadetblue;
    width: 50px;
    height: 50px;
    cursor: pointer;
    clip-path: polygon(0% 0%, 69% 0, 70% 48%, 51% 50%, 51% 65%, 26% 48%, 0 48%);
    position: absolute;
    left: 48px;
    top: 0.5em;
}

/* Comment box */
.combox{
    border: 1px solid black;
    margin-left: -4vw;
    margin-top: 3.4em;
    padding: 7px;
    height: -webkit-fill-available;
    width: 90%;
}

/*Post button*/
.postButton:focus{
  outline: none;
  color: grey;
}

.postButton{
    width: 69px;
    margin-left: 1px;
    border-style: none;
    font-family: system-ui;
    background-color: white;
    font-weight: 600;
}

/* Posted message div */
.postdone{
  margin-bottom: 8px;
}
